.navbar {
    background-color: #343a40;

    a {
        color: #EEE5DA;

        &:hover {
            color: $primary-color;
        }
    }

    .dropdown-menu {
        background-color: #343a40;

        a:hover {
            background-color: $primary-color;
            color: $text-color;
        }
    }
}