// Colores
$primary-color: #03abaa;
$secondary-color: #722F37;
$text-color: #333;
$background-color: #EFDFBB;

// Tipografía
$font-family-primary: 'Arial', sans-serif;
$font-size-base: 16px;

// Espaciado
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 40px;